@model WebApplication1.Models.Kitap

@{
    ViewData["Title"] = "KitapSil";
}

<h1>KitapSil</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasimYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasimYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapOzeti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapOzeti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KapakResmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KapakResmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar.YazarAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayinEvi.YayinEviAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayinEvi.YayinEviAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciID)
        </dd>
    </dl>
    
    <form asp-action="KitapSil" onsubmit="return confirm('Bu kitabı silmek istediğinizden emin misiniz?');">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <p>
            <a asp-action="Index">Admin Panel</a>
        </p>
    </form>

</div>
